.App {
  text-align: center;
  height: 100vh;
  /* position: relative; */
}
.layout {
  /* position: relative; */
  /* display: grid;
  grid-template-columns: 1fr 3fr 1fr; */
}
.header { 
  /* z-index: 50; */
}
.shadow { 
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.layout-shadow { 
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}